#who {
    width: 49.5vw;
    height: fit-content;
    background-color: #75D1FF;
    color: #fff;
    white-space: pre-line;
}

.section-2 {
    display: flex;
    align-items: center;
    white-space: pre-line;
}

.column {
    float: left;
    width: 50%;
    height: fit-content;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    background-color: #d7dbde;
    border-radius: 50%;
    margin-left: 10px;
}

.bold {
    font-size: 18px;
    font-weight: bold;
}